@import "../../../sass/variables";

.get-in-touch {
  border-top: 1px solid $light-grey;
  border-bottom: 1px solid $light-grey;
  margin: 2rem 2.5rem;
  padding: 2rem 0;
  .social {
    a {
      margin-right: 1rem;
    }
    img {
      filter: invert(80%) sepia(11%) saturate(262%) hue-rotate(208deg)
        brightness(86%) contrast(87%);
    }
  }
}

.contact-form, .thanks {
  margin: 0 2.5rem;
  //   padding: 2rem 0;
  min-height: 75vh;
  form {
    display: flex;
    flex-direction: column;
  }
  .tertiary-btn {
    margin: 1rem 0;
    width: 35%;
  }
}
.thanks {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  & > * {
    text-align: center;
  }
}

.alert {
  margin: 0.2rem 0;
}

.alert-danger {
  color: #ff0000;
}
@media (min-width: 768px) {
  .contact-form {
    margin-bottom: 6rem;
  }
}

@media (min-width: 1024px) {
  .get-in-touch {
    display: flex;
    justify-content: space-between;
    margin: 2rem 10.313rem;
    div {
      width: 45%;
    }
    h2, p {
      margin-top: 0;
    }
  }

  .contact-form {
    display: flex;
    justify-content: space-between;
    margin: 2rem 10.313rem;
    form {
      width: 45%;
    }
    h2 {
      margin-top: 0;
    }
  }

  .thanks {
    margin: 2rem 10.313rem;
  }
}
