@import "../../../sass/variables";

.get-in-touch {
  border-top: 1px solid $light-grey;
  border-bottom: 1px solid $light-grey;
  margin: 2rem 2.5rem;
  padding: 2rem 0;
  .social {
    img {
      filter: invert(80%) sepia(11%) saturate(262%) hue-rotate(208deg)
        brightness(86%) contrast(87%);
      margin-right: 1rem;
    }
  }
}

.contact-form {
  margin: 0 2.5rem;
  //   padding: 2rem 0;
  min-height: 50vh;
  form {
    display: flex;
    flex-direction: column;
  }
  .tertiary-btn {
    margin: 1rem 0;
    width: 35%;
  }
}

@media (min-width: 768px) {
  .contact-form {
    margin-bottom: 6rem;
  }
}

@media (min-width: 1024px) {
  .get-in-touch {
    display: flex;
    justify-content: space-between;
    margin: 2rem 10.313rem;
    div {
      width: 45%;
    }
  }

  .contact-form {
    display: flex;
    justify-content: space-between;
    margin: 2rem 10.313rem;
    form {
      width: 45%;
    }
  }
}
