@import "../../../sass/variables";

.main-container {
  margin: 2rem;
  box-sizing: border-box;
}
.project-overview {
  // margin: 1rem 0;
  img {
    margin: 1rem 0;
  }
}
.project-overview,
details {
  display: flex;
  flex-direction: column;
  height: 100%
}
.details {
  border-top: 1px solid $light-grey;
  border-bottom: 1px solid $light-grey;
  padding-bottom: 1.5rem;
}

// SPINNER
.spinner {
  margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #202020;
  height: 100%;
  width: 6px;
  display: inline-block;
  margin: 1px;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}
.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0);
    -webkit-transform: scale(0);
  } 40% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

@media (min-width: 768px) {
  .project-overview {
    width: 100%;
    flex-direction: row;
    align-items: center;
    img {
      width: 50%;
      height: 50%;
      margin-right: 2rem;
    }
    &.reverse {
      flex-direction: row-reverse;
      img {
        margin-right: 0;
        margin-left: 2rem;
      }
      .details {
        margin-left: 0;
        margin-right: 2rem;
      }
    }
  }
  .details {
    margin-left: 2rem;
    width: 50%;
  }
}

@media (min-width: 1024px) {
    .main-container {
        margin: 5rem 10.313rem;
    }
  .project-overview {
    // margin-left: 10.313rem;
    margin-right: 3rem;
    margin-left: 0;
    margin-bottom: 3rem;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    img {
      width: 30%;
      height: 30%;
      margin: 0;
      object-fit: cover;
    }
    &.reverse {
      margin-left: 3rem;
      margin-right: 0;
    //   margin-right: 10.313rem;
    }
  }
  .details {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    padding: 1.5rem;
    align-items: flex-start;
    justify-content: center;
    p {
        width: 75%;
    }
}
}
