<section id="contact" [ngClass]="{ isContact: isContactPage }">
  <div>
    <h2>Interested in doing a project together?</h2>
  </div>
  <hr />
  <div class="btn-container">
    <button class="secondary-btn">CONTACT ME</button>
  </div>
</section>
<footer>
  <div class="logo-container">
    <img src="../../../assets/white_triangles.svg" alt="white-triangles" />
  </div>
  <div class="navlinks">
    <ul>
      <li *ngFor="let item of navItems">
        <a [routerLink]="['/' + item.link]">{{ item.name }}</a>
      </li>
    </ul>
  </div>
  <div class="social">
    <a href="https://github.com/mihail-soltan" target="_blank"
      ><img src="../../../assets/github.svg" alt="github"
    /></a>
    <!-- <img src="../../../assets/twitter.svg" alt="twitter" /> -->
    <a href="https://www.linkedin.com/in/mihail-soltan/" target="_blank">
      <img src="../../../assets/linkedin.svg" alt="linkedin"
    /></a>
  </div>
</footer>
