@import "../../../sass/variables";

footer {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  background: $grayish-dark-blue;
}
.logo-container {
  display: flex;
}
.navlinks {
  align-self: center;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li {
    // display: inline-block;
    white-space: nowrap;
  }
  a {
    // display: inline-block;
    text-decoration: none;
    color: $white;
    font-family: $public-sans;
    font-weight: $regular;
    letter-spacing: 0.125rem;
    &:hover {
      color: $slightly-desaturated-cyan;
    }
  }
}
.social {
  align-self: center;
  width: 100%;
  text-align: end;
  & > * {
    margin-left: 1rem;
  }
}
#contact {
  display: flex;
}
.isContact {
  display: none !important;
}
hr {
  border: 1px solid $light-grey;
  width: 25%;
}
@media (max-width: 768px) {
  hr {
    display: none;
  }
  .navlinks ul {
    text-align: center;
    padding: 0;
    li {
      margin: 1rem;
    }
  }
  .logo-container {
    justify-content: center;
  }
  .social {
    display: flex;
    justify-content: center;
    & > * {
      margin: 0.5rem;
    }
  }
  #contact {
    margin-top: 3rem;
    margin-bottom: 3rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2 {
      text-align: center;
    }
    & > * {
      margin: 1rem;
    }
  }
}
@media (min-width: 768px) {
  footer {
    flex-direction: row;
  }
  .navlinks {
    ul {
      display: flex;
      width: 100%;
      a {
        display: inline-block;

        margin: 0 1.313rem;
        transition: 0.3s ease-in-out;
      }
    }
  }

  #contact {
    div:first-child {
      width: 50%;
    }
    align-items: center;
    justify-content: space-between;
    & > * {
      margin: 1rem 2.1rem;
    }
    .btn-container {
      text-align: end;
      width: 13.5rem;
    }
  }
}

@media(min-width: 1024px){
  #contact {

    width: 100%;
    div:first-child {
      margin-left: 10.313rem;
      width: 25%;
    }
    div:last-child {
      margin-right: 10.313rem;
    }
    hr {
      color: $light-grey;
    }
  }
}