@import "../../../sass/variables";

footer {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  background: $grayish-dark-blue;
}
.logo-container {
  display: flex;
}
.navlinks {
    ul {
        list-style: none;
    }
  a {
    text-decoration: none;
    color: $white;
    font-family: $public-sans;
    font-weight: $regular;
    letter-spacing: 0.125rem;
    &:hover {
      color: $slightly-desaturated-cyan;
    }
  }

}
.social {
    align-self: center;
    width: 100%;
    text-align: end;
    & > * {
      margin-left: 1rem;
    }
  }
@media (max-width: 768px) {
    .navlinks ul {
        text-align: center;
        padding: 0;
        a {
            margin: 1rem;
        }
    }
    .logo-container {
        justify-content: center;
    }
    .social {
        display: flex;
        justify-content: center;
        &>* {
            margin: 0.5rem;
        }
    }
}
@media (min-width: 768px) {
    footer {
        flex-direction: row;
    }
  .navlinks {
    ul {
      display: flex;
      width: 100%;
      a {
        display: inline-block;

        margin: 0 1.313rem;
        transition: 0.3s ease-in-out;
      }
    }
  }

}
