<nav>
  <img src="../../../assets/triangles.svg" alt="triangles" />
  <div id="dialog-overlay" *ngIf="isHamburgerOpen" (click)="closeMenu()"></div>
  <div id="menuToggle">
    <input type="checkbox"  [(ngModel)]="isHamburgerOpen"/>

    <span></span>
    <span></span>
    <span></span>
    <ul id="menu">
        <li *ngFor="let item of navItems" (click)="onNavItemClick(item.link)">{{ item.name }}</li>
    </ul>
  </div>
  <div class="desktop-navlinks">
    <ul>
      <a *ngFor="let item of navItems" [routerLink]="['/' + item.link]"
        ><li>{{ item.name }}</li></a
      >
    </ul>
  </div>
</nav>
