<!-- <h1>home works!</h1> -->
<!-- <div class="home-container">
  <div class="header">
    <img
      src="../../../assets/planets_fact_site.png"
      alt="planets"
      class="header-bg"
    />
    <div class="header-intro">
      <h1>Hey, I'm Mihail Soltan and I love building beautiful websites</h1>
      <div class="primary-btn" role="button" disabled>
        <span><img src="../assets/btn-arrow.png" alt="icon" /></span>
        <div class="btn-text">ABOUT ME</div>
      </div>
    </div>
  </div>
</div> -->
<div class="home-container">
  <div class="header">
    <!-- <img src="../../../assets/planets_fact_site.png" alt="planets" class="header-bg" /> -->
    <div class="header-intro">
      <h1>Hey, I'm Mihail Soltan and I love building beautiful websites</h1>
      <div class="primary-btn" role="button" disabled>
        <span><img src="../assets/btn-arrow.png" alt="icon" /></span>
        <div class="btn-text">ABOUT ME</div>
      </div>
    </div>
  </div>
</div>



