@import "../../../sass/variables";

#about {
  display: flex;
}
hr {
  width: 25%;
}
.about-text-container {
  border-top: 1px solid $light-grey;
  border-bottom: 1px solid $light-grey;
  .secondary-btn {
    margin-bottom: 1rem;
  }
}
@media (min-width: 768px) {
  .header-img-container {
    display: none;
  }
  .home-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .header {
    display: flex;
    background-image: url("../../../assets/planets_fact_site.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
    justify-content: flex-end;
    flex-direction: column;
    margin: 0 2.1rem;
    // animation: breathing 7s infinite ease-in-out;
    &-intro {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 45%;
      background-color: $white;
    }
  }

  #about {
    & > * {
      margin: 1rem 2.1rem;
    }
    .profile-img-container {
      align-self: center;
      img {
        width: 20rem;
      }
    }
    .about-text-container {
      h2 {
        margin: 0;
      }
    }
  }
}

.about-text-container {
  display: flex;
  flex-direction: column;
}
@keyframes breathing {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@media (max-width: 767px) {
  .header {
    background-image: none;
  }
}

@media (max-width: 768px) {
  hr {
    display: none;
  }
  .header {
    margin: 1rem;
  }
  .header-img-container {
    img {
      display: block;
      width: 100%;
    }
  }

  #about {
    flex-direction: column;
    margin-top: 5rem;
    hr {
      color: $light-grey;
    }
    .profile-img-container {
      img {
        width: 100%;
      }
    }
    & > * {
      margin: 1rem;
    }
  }
}

@media (min-width: 1024px) {
  .header {
    margin: 0 10.313rem;
  }
  #about {
    width: 100%;
    margin: 5rem 0;
    padding: 4rem 0;
    .profile-img-container {
      margin: 0 3.875rem 0 0;
      img {
        margin-left: 10.313rem;
      }
    }
    .about-text-container {
      margin: 0 10.313rem 0 0;
      h2 {
        margin: 2rem 0;
      }
    }
  }
}

@media (min-width: 1300px) {
  #about {
    .profile-img-container {
      margin: 0 3.875rem 0 0;
      img {
        width: 30rem;
        margin-left: 10.313rem;
      }
    }
    .about-text-container {
      margin: 0 10.313rem 0 3.875rem;
    }
  }
}
