<div class="home-container">
  <header class="header">
    <div class="header-img-container">
      <img src="../../../assets/planets_fact_site_mobile.png" alt="planets" />
    </div>
    <div class="header-intro">
      <h1>Hey, I'm Mihail Soltan and I love building beautiful websites</h1>
      <div class="primary-btn" role="button" disabled>
        <span><img src="../assets/btn-arrow.png" alt="icon" /></span>
        <div class="btn-text">ABOUT ME</div>
      </div>
    </div>
  </header>
  <section id="about">
    <div class="profile-img-container">
      <img src="../../../assets/1628525428766.jpg" alt="friendly face" />
    </div>
    <div class="about-text-container">
      <h2>About Me</h2>
      <p>{{ aboutMe }}</p>
      <div class="btn-container">
        <button class="secondary-btn">GO TO PORTFOLIO</button>
      </div>
    </div>
  </section>
  <section id="contact">
    <div>
      <h2>Interested in doing a project together?</h2>
    </div>
    <hr>
    <div class="btn-container">
      <button class="secondary-btn">CONTACT ME</button>
    </div>
  </section>
</div>
