<!-- <h1>home works!</h1> -->
<div class="home-container">
  <div class="header">
    <img
      src="../../../assets/planets_fact_site.png"
      alt="planets"
      class="header-bg"
    />
    <div class="header-intro">
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam
        recusandae porro dicta qui veritatis sapiente quidem cupiditate laborum
        voluptatem. Dolorum culpa accusantium similique ad ipsum tempora enim
        voluptatibus, facere ullam.
      </p>
    </div>
  </div>
</div>
