@import "../../../sass/variables";

#about,
#contact {
  display: flex;
}
hr {
  width: 25%;
}
.about-text-container {
  border-top: 1px solid $light-grey;
  border-bottom: 1px solid $light-grey;
  // padding: 1rem 0;
  .secondary-btn {
    margin-bottom: 1rem;
  }
}
@media (min-width: 768px) {
  .header-img-container {
    display: none;
  }
  .home-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .header {
    display: flex;
    background-image: url("../../../assets/planets_fact_site.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
    justify-content: flex-end;
    flex-direction: column;
    margin: 0 2.1rem;
    // width: 70%;
    // justify-content: flex-end;
    // align-items: flex-start;
    // width: 100%;
    &-intro {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 45%;
      background-color: $white;
      // height: 45%;
    }
  }

  #about {
    & > * {
      margin: 1rem 2.1rem;
    }
    .profile-img-container {
      align-self: center;
      img {
        width: 20rem;
        // margin-top: 4rem;
        // width: 100%;
      }
    }
    .about-text-container {
      h2 {
        margin: 0;
      }
    }
  }
  #contact {
    div:first-child {
      width: 50%;
    }
    align-items: center;
    justify-content: space-between;
    & > * {
      margin: 1rem 2.1rem;
    }
    .btn-container {
      text-align: end;
      width: 13.5rem;
    }
  }
}

.about-text-container {
  display: flex;
  flex-direction: column;
}

@media (max-width: 767px) {
  .header {
    background-image: none;
  }
}

@media (max-width: 768px) {
  hr {
    display: none;
  }
  .header {
    margin: 1rem;
  }
  .header-img-container {
    img {
      display: block;
      width: 100%;
    }
  }

  #about {
    flex-direction: column;
    margin-top: 5rem;
    hr {
      color: $light-grey;
    }
    .profile-img-container {
      img {
        width: 100%;
      }
    }
    & > * {
      margin: 1rem;
    }
  }

  #contact {
    margin-top: 3rem;
    margin-bottom: 3rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2 {
      text-align: center;
    }
    & > * {
      margin: 1rem;
    }
  }
}

@media (min-width: 1024px) {
  .header {
    margin: 0 10.313rem;
  }
  #about {
    width: 100%;
    margin: 9rem 0;
    // padding: 6rem 0;
    // justify-content: space-between;

    // flex-wrap: wrap;
    .profile-img-container {
      margin: 0 3.875rem 0 0;
      img {
        // width: 30rem;
        margin-left: 10.313rem;
      }
    }
    .about-text-container {
      margin: 0 10.313rem 0 0;
      // width: 21rem;
      h2 {
        margin: 2rem 0;
      }
    }
  }

  #contact {

    width: 100%;
    div:first-child {
      margin-left: 10.313rem;
      width: 25%;
    }
    div:last-child {
      margin-right: 10.313rem;
    }
    hr {
      color: $light-grey;
    }
  }
}

@media (min-width: 1300px) {
  #about {
    .profile-img-container {
      margin: 0 3.875rem 0 0;
      img {
        width: 30rem;
        margin-left: 10.313rem;
      }
    }
    .about-text-container {
      margin: 0 10.313rem 0 3.875rem;
    }
  }
}
